{% extends 'layout.html' %}

{% block content %}

{% if error %}

{{ error }}

{% endif %}

<h2 class="text-center pt-3">Log In</h2>
<div class="content-section">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <fieldset class="form-group">

            Email: <br>
            <input type="email" name="email"> <br>
            Password: <br>
            <input type="password" name="password"> <br>

        </fieldset>

        <input class="btn btn-primary" type="submit" value="Log In">
    </form>
</div>

<div class="border-top pt-3">
    <small class="text-muted mr-2">
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </small><br>
    <small class="text-muted">Don't have an account yet? <a class="ml-2" href="{% url 'signup' %}">Sign Up
            Now</a></small>
</div>

{% endblock %}